html {
    width: 100%;
}

body {
    width: 100%;
    min-width: 850px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2 {
    padding-bottom: 1%;
    font-weight: bold;
    font-size: 28px;
    color: #305966;
}

p {
    padding: 1%;
    font-weight: bold;
    font-size: 20px;
    color: #598089;
    line-height: 30px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}


#main {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
}

/************************************************ header css code ***/
.header {
    width: 100%;
    height: 80px;
    background-image: url(../images/_index/index_lyaout_V2_Final_Cut-01.png);
    background-size: 100% 80px;
}

.nav_logo {
    position: relative;
    z-index: 1;
    width: 120px;
    top: 20px;
    left: 10%;
    float: left;
}

.nav_menu {
    width: 700px;
    height: 22px;
    float: right;
}

    .nav_menu li {
        display: inline-block;
        position: relative;
        z-index: 3;
        vertical-align: top;
        top: 28px;
        margin-left: 30px;
    }

    .nav_menu img {
        height: 22px;
    }

    .nav_menu li:hover .nav_menu_btn2_off {
        display: none;
    }

    .nav_menu li .nav_menu_btn2_on {
        display: none;
    }

    .nav_menu li:hover .nav_menu_btn2_on {
        display: block;
    }

.nav_menu_btn2_on2 {
    display: none;
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 250px;
    padding-top: 15px;
    top: 20px;
    left: -90px;
}

.nav_menu li:hover .nav_menu_btn2_on2 {
    display: block;
}

.nav_menu_btn2_btn {
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 30px;
    margin-left: 45px;
}
/****************************************** header css -end ***/

#article {
    background-image: url(../images/bg/index_lyaout_V3_Final_Cut-24.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: 70%;
}

#article2 {
    background-image: url(../images/bg/index_lyaout_V3_Final_Cut-25.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: 100%;
}


.section01, .section02 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
}

    .section01 li {
        background-image: url(../images/_product/02/product_4-05_w12Xh13.png);
        background-repeat: no-repeat;
        text-align: left;
        line-height: 40px;
    }


.section01_txt {
    /*border: 1px solid #000;*/
    width: 80%;
    padding-bottom: 5%;
    margin-left: 10%;
}

    .section01_txt p, .section02_txt p {
        background-image: url(../images/_product/02/product_4-05_w12Xh13.png);
        background-repeat: no-repeat;
        background-size: 8px auto;
        background-position-y: 50%;
        padding-top: 0%;
        padding-bottom: 0%;
        padding-left: 25px;
        text-align: left;
        line-height: 40px;
    }

.section02_txt p {
    background-image: url(../images/_product/02/product_4-05_w12Xh13_2.png);
    background-position-x: 100%;
    padding-right: 8%;
    text-align: right;
}

/************************************   index人流 css   */
.people_ot { /*中心人流*/
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 220px;
    height: 220px;
    background-image: url(../images/_index/index_lyaout_V3_Final_Cut-27.png);
    background-size: 220px 220px;
    top: 50px;
    font-weight: bold;
    margin: auto 3%;
}

    .people_ot td {
        vertical-align: middle;
    }

.people_ot_tr1, .people_ot_tr2 {
    background-image: url(../images/_index/index_lyaout_V3_Final_Cut-32.png);
    background-size: 200px 55px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.people_ot_tr2 {
    background-image: url(../images/_index/index_lyaout_V3_Final_Cut-33.png);
}

    .people_ot_tr1 img, .people_ot_tr2 img {
        width: 45px;
    }

.people_ot h4 {
    font-size: 24px;
    color: #663022;
    text-shadow: 0 0 1px #663022, 0 0 1px #663022, 0 0 1px #663022;
    letter-spacing: 17px;
    padding-top: 15px;
    padding-left: 15px;
}

.people_ot p {
    font-size: 18px;
    color: #bc664b;
}

.people_ot_fo1 {
    font-size: 30px;
    color: #327c7f;
}

.people_ot_fo2 {
    font-size: 20px;
    color: #327c7f;
    padding-right: 20px;
}

.site_people { /*各場人流*/
    position: relative;
    z-index: 1;
    width: 800px;
    height: 220px;
    background-image: url(../images/_index/index_lyaout_V3_Final_Cut-36.png);
    background-size: 800px 220px;
    margin: 5% auto;
    top: 50px;
}

    .site_people h3 {
        font-weight: bold;
        font-size: 28px;
        color: #fff;
    }

    .site_people h4 {
        font-weight: bold;
        font-size: 20px;
        color: #305966;
        padding-top: 7px;
    }

.site_people_tb {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 160px;
    height: 160px;
    background-image: url(../images/_index/index_lyaout_V3_Final_Cut-38.png);
    background-size: 160px 160px;
    top: -100px;
    margin-left: 10px;
    margin-right: 10px;
}

.site_people_fitness {
    font-weight: bold;
    color: #e5cb5e;
}

.site_people_swim {
    font-weight: bold;
    color: #3f6299;
}

.site_people_ice {
    font-weight: bold;
    color: #559970;
}
/*******************************index人流 css -end*/

/*******************************prduct01 css*/

.product01_dv {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin: 2% 3%;
}

    .product01_dv font {
        font-size: 20px;
    }

    .product01_dv img {
        width: 90%;
        max-width: 200px;
    }

/*******************************prduct01 css -end*/


/*******************************qa css code*/
#search {
    width: 320px;
}

#search_send {
    float: right;
    width: 120px;
}

.qa_dv a {
    display: inline-block;
}

.qa1_btn, .qa2_btn, .qa3_btn {
    width: 160px;
    height: 50px;
    margin-top: 30%;
    background-image: url(../images/_qa/qanda_lyaout_Final_Cut-11.png);
    background-size: 160px 50px;
}

    .qa1_btn:hover {
        background-image: url(../images/_qa/qanda_lyaout_Final_Cut-12.png);
    }

.qa2_btn {
    background-image: url(../images/_qa/qanda_lyaout_Final_Cut-13.png);
}

    .qa2_btn:hover {
        background-image: url(../images/_qa/qanda_lyaout_Final_Cut-14.png);
    }

.qa3_btn {
    background-image: url(../images/_qa/qanda_lyaout_Final_Cut-15.png);
}

    .qa3_btn:hover {
        background-image: url(../images/_qa/qanda_lyaout_Final_Cut-16.png);
    }

.qa1_text {
    display: inline-block;
    width: 500px;
    height: 300px;
    background-image: url(../images/_qa/qanda_lyaout_Final_Cut-17.png);
    background-size: 500px 300px;
    margin-top: 5%;
}

    .qa1_text select {
        width: 280px;
        height: 30px;
        border-style: none;
        background-image: url(../images/_qa/qanda_lyaout_Final_Cut-18.png);
        background-size: 280px 30px;
        background-color: transparent;
        font-weight: bold;
        font-size: 18px;
        color: #598089;
        margin-top: 10%;
        margin-left: 25%;
        padding-left: 15px;
    }

    .qa1_text textarea {
        width: 230px;
        height: 90px;
        border-style: none;
        background-color: transparent;
        padding: 30px;
        font-weight: bold;
        font-size: 18px;
        color: #598089;
        margin-top: 13%;
        margin-left: 40%;
        resize: none;
    }
/************************************qa css code -end*/

/************************************************************************/
/************************************************************************/
@media only screen and (max-width:420px) {

    body {
        min-width: 100%;
    }

    p {
        transform: scale(0.8);
    }

    #main {
        width: 100%;
        border-bottom: 0px solid #000000;
        border-left: 0px solid #000000;
        border-right: 0px solid #000000;
    }

    .nav_logo {
        transform: scale(0.8);
        margin-top: -3%;
        margin-left: 23%;
    }

    .nav_menu {
        transform: scale(0.7);
        display: inline-block;
        margin-top: 1%;
        margin-left: -36%;
        float: none;
    }

    .people_ot {
        transform: scale(0.4);
        margin-top: -25%;
        margin-bottom: -20%;
        margin-left: -15%;
        margin-right: -15%;
        width: auto;
    }

    .mobile_index_txt {
        transform: scale(1.5);
    }

    .mobile_index_img {
        transform: scale(1.3);
    }

    .site_people {
        transform: scale(0.4);
        margin-left: -70%;
        margin-top: -30%;
    }

    .product01_dv {
        display: inline-block;
        width: 40%;
        vertical-align: top;
        margin: 5% 4%;
    }

        .product01_dv font {
            font-size: 14px;
        }

    .mobile_product02_td p {
        margin-left: -20%;
        font-size: 14px;
    }

    .mobile_product11_img, .mobile_product12_img, .mobile_product13_img {
        transform: scale(0.5);
        position: relative;
        z-index: auto;
        margin: -100% auto;
        top: -65px;
    }

    .mobile_product11_txt, .mobile_product12_txt, .mobile_product13_txt {
        transform: scale(0.8);
        position: relative;
        z-index: auto;
        margin: auto auto;
        top: 40px;
        left: -40px;
    }

    .mobile_product21_ta {
        transform: scale(0.8);
        position: relative;
        z-index: auto;
        left: -25%;
    }

    .mobile_product21_td {
        width: 100px;
    }

    .mobile_product21_td_2 {
        width: 150px;
    }

    .mobile_product21_txt {
        transform: scale(0.8);
        position: relative;
        z-index: auto;
        left: -25%;
    }

    .mobile_product21_img {
        transform: scale(1.2);
        position: relative;
        z-index: auto;
        top: 50px;
    }

    .mobile_product22_txt1 {
        transform: scale(0.7);
        position:relative;
        z-index:auto;
        top:-50px;
        left:-350px;
    }
    .mobile_product22_txt2 {
        transform: scale(0.7);
        position:relative;
        z-index:auto;
        top:-40px;
        left:-300px;
    }
    .mobile_product22_txt2 div{
        margin:auto -20px;
    }

    .mobile_product22_img {
        transform: scale(0.8);
        position: relative;
        z-index: auto;
        left: -25px;
    }

    .mobile_product23_txt1, .mobile_product23_img1, .mobile_product23_txt2, .mobile_product23_img2, .mobile_product23_txt3, .mobile_product23_img3 {
        position: relative;
        z-index: auto;
    }

    .mobile_product23_img1 {
        transform: scale(0.7);
    }
    .mobile_product23_txt1 {
        transform: scale(0.8);
        top:-50px;
        left:-100px;
    }
    .mobile_product23_img2 {
        transform: scale(0.7);
        left: 20px;
    }
    .mobile_product23_txt2 {
        transform: scale(0.8);
        top:-50px;
    }
    .mobile_product23_img3 {
        transform: scale(1.2);
        top:20px;
        left: -20px;
    }
    .mobile_product23_txt3 {
        transform: scale(0.7);
        top:-50px;
        left:-90px;
    }

    .mobile_product31_txt p, .mobile_product31_txt_2 p, .mobile_product31_txt_3 p {
        line-height: 24px;
    }

    .mobile_product31_txt_2 {
        position: relative;
        z-index: 1;
        top: 10px;
        left: -0%;
    }

    .mobile_product31_txt_3 {
        position: relative;
        z-index: 1;
        top: 50px;
        left: 15%;
    }

    .mobile_product31_img_2 {
        position: relative;
        z-index: 1;
        top: 40px;
        left: 3%;
    }

    .mobile_product31_img_3 {
        position: relative;
        z-index: 1;
        top: 40px;
        left: -5%;
    }

    .mobile_aboutus02_txt1 {
        transform: scale(0.6);
        top:90%;
        left: -20%;
    }

    .mobile_aboutus02_txt2 {
        transform: scale(0.6);
        top: 86%;
        left: -15%;
    }

    .mobile_aboutus02_img {
        transform: scale(0.6);
        top: -50px;
        left: -80px;
        margin: -10% auto;
    }

    .mobile_contactus01_in {
        position: relative;
        z-index: auto;
    }

    .mobile_contactus01_text {
        position: relative;
        z-index: auto;
        width: 500px;
        height: 400px;
        top: 190px;
        left: -160px;
    }

    .mobile_contactus01_text textarea {
        margin-left: 20px;
    }
}

@media only screen and (min-width:371px) and (max-width:375px) {
    .nav_menu {
        transform: scale(0.6);
        margin-left: -45%;
    }

    .site_people {
        margin-left: -85%;
        margin-top: -32%;
    }

    .mobile_product11_img, .mobile_product12_img, .mobile_product13_img {
        top: -30px;
    }

    .mobile_product21_ta {
        left: -35%;
    }

    .mobile_product22_txt1 {
        left: -400px;
    }

    .mobile_product22_txt2 {
        left: -320px;
    }

    .mobile_product23_img1 {
        left:-20px;
    }

    .mobile_product23_txt1 {
        left:-110px;
    }

    .mobile_product23_img2 {
        left:30px;
    }

    .mobile_product23_txt2 {
        left:20px;
    }

    .mobile_contactus01_in {
        left: -15px;
    }

    .mobile_aboutus02_txt1 {
        transform: scale(0.5);
    }

    .mobile_aboutus02_txt2 {
        transform: scale(0.5);
    }

    .mobile_aboutus02_img {
        transform: scale(0.5);
        margin:-25% auto;
    }
}

@media only screen and (min-width:321px) and (max-width:370px) {
    .nav_menu {
        transform: scale(0.6);
        margin-left: -48%;
    }

    .site_people {
        margin-left: -88%;
        margin-top: -35%;
    }

    .mobile_product11_img, .mobile_product12_img, .mobile_product13_img {
        top: -20px;
    }

    .mobile_product21_ta {
        left: -35%;
    }

    .mobile_product22_txt1 {
        left: -380px;
    }

    .mobile_product22_txt2 {
        left: -330px;
    }

    .mobile_product23_img1 {
        left: -20px;
    }

    .mobile_product23_txt1 {
        left: -110px;
    }

    .mobile_product23_img2 {
        left: 30px;
    }

    .mobile_product23_txt2 {
        left: 20px;
    }

    .mobile_product31_img_3 {
        left: -35%;
    }

    .mobile_product31_txt_3 {
        left: 20%;
    }

    .mobile_product51_img {
        width: 300px;
    }

    .mobile_aboutus02_txt1 {
        transform: scale(0.5);
        left: -20%;
    }

    .mobile_aboutus02_txt2 {
        transform: scale(0.5);
        left: -20%;
    }

    .mobile_aboutus02_img {
        transform: scale(0.5);
        left:-35%;
        margin: -25% auto;
    }

    .mobile_contactus01_in {
        left: -20px;
    }
}

@media only screen and (max-width:320px) {
    .nav_menu {
        transform: scale(0.5);
        margin-top: 2%;
        margin-left: -62%;
    }

    .people_ot {
        margin-top: -30%;
        margin-left: -20%;
        margin-right: -20%;
    }

    .site_people {
        transform: scale(0.3);
        margin-left: -105%;
        margin-top: -45%;
    }

    .mobile_product11_img, .mobile_product12_img, .mobile_product13_img {
        top: -70px;
        left: -15px;
    }

    .mobile_product11_txt, .mobile_product12_txt, .mobile_product13_txt {
        top: 10px;
        left: -60px;
    }

        .mobile_product11_txt p, .mobile_product12_txt p, .mobile_product13_txt p {
            line-height: 30px;
        }

    .mobile_product21_ta {
        transform: scale(0.7);
        left: -45%;
    }

    .mobile_product21_txt {
        transform: scale(0.7);
        top: -45px;
        left: -35%;
    }

    .mobile_product22_txt1 {
        top:-80px;
        left: -420px;
    }

    .mobile_product22_txt2 {
        left: -370px;
    }
    .mobile_product22_img {
        left: -40px;
    }

    .mobile_product23_img1 {
        left: -30px;
    }

    .mobile_product23_txt1 {
        left: -120px;
    }

    .mobile_product23_img2 {
        left: 40px;
    }

    .mobile_product23_txt2 {
        left: 20px;
    }

    .mobile_product23_img3 {
        transform: scale(2);
        top: 20px;
        left: 60px;
    }

    .mobile_product23_txt3 {
        top:80px;
        left: -170px;
        margin-bottom:50px;
    }

    .mobile_product31_img, .mobile_product31_txt, .mobile_product31_img_2, .mobile_product31_txt_2, .mobile_product31_img_3, .mobile_product31_txt_3 {
        transform: scale(0.8);
        top: 0px;
    }

    .mobile_product31_img_2 {
        top: 15px;
    }

    .mobile_product31_txt_2 {
        top: -20px;
    }

    .mobile_product31_img_3 {
        left: -35%;
    }

    .mobile_product31_txt_3 {
        left: 20%;
    }

    .mobile_product51_img {
        width: 300px;
        margin-left: -10%;
    }

    .mobile_aboutus02_h2 {
        transform: scale(0.8);
        width: 280px;
        margin-left: -5%;
    }

    .mobile_aboutus02_txt1 {
        transform: scale(0.5);
        left: -30%;
    }

    .mobile_aboutus02_txt2 {
        transform: scale(0.5);
        left: -20%;
    }

    .mobile_aboutus02_img {
        transform: scale(0.5);
        left: -45%;
        margin: -30% auto;
    }

    .mobile_contactus01_in {
        transform: scale(0.9);
        left: -35px;
    }

    .mobile_contactus01_text {
        transform: scale(0.9);
        width: 500px;
        height: 400px;
        top: 170px;
        left: -168px;
    }
}
